$PRIMARY: #0050d3;
$PRIMARY_1: #0052cc;
$PRIMARY-2: #172b4d;

$SECONDARY: #223556;
$SECONDARY_1: #deebff;
$SECONDARY_2: #f4f5f7;
$BORDER_GRAY: gray;
$BORDER_GRAY_1: lightgray;
$BORDER_PRIMARY: #0052cc;

$BLACK: #000;
$WHITE: #fff;
$ERROR: red;
$ERROR_LIGHT: rgb(247, 130, 130);
$WARNING: orange;
$WARNING_LIGHT: rgb(247, 213, 151);
$SUCCESS: green;
$SUCCESS_LIGHT: rgb(175, 251, 175);

$FONT_SMALL: 10px;
$FONT_REGULAR: 14px;
$FONT_MEDIUM: 16px;
$FONT_MEDIUM_1: 18px;
$FONT_LARGE: 28px;

$WEIGHT_REGULAR: 400;
$WEIGHT_MEDIUM: 500;
$WEIGHT_BOLD: 600;
