$PRIMARY:purple;
$PRIMARY_1:#000;
$PRIMARY-2:#000;

$SECONDARY:rgb(75, 2, 75);
$SECONDARY_1:#fff;

$BORDER_GRAY:gray;
$BORDER_GRAY_1:lightgray;
$BORDER_PRIMARY:purple;

$BLACK:#000;
$WHITE:#fff;
$ERROR:red;
$ERROR_LIGHT:rgb(247, 130, 130);
$WARNING:orange;
$WARNING_LIGHT:rgb(247, 213, 151);
$SUCCESS:green;
$SUCCESS_LIGHT:rgb(175, 251, 175);

$FONT_SMALL:10px;
$FONT_REGULAR:14px;
$FONT_MEDIUM:16px;
$FONT_MEDIUM_1:18px;
$FONT_LARGE:28px;

$WEIGHT_REGULAR:400;
$WEIGHT_MEDIUM:500;
$WEIGHT_BOLD:600;

