@import '../../scss/partials';
@import '../../scss/variable';
.searchFieldContainer{
    display: flex;
    border:1px solid $BORDER_GRAY;
    border-radius: 4px;
    height: 40px;
    position: relative;
    width:300px;
    .searchIcon{
        width:40px;
        @include flex-center;
    }
    .searchInput{
        height: 100%;
        width:260px;
        border:none;
        outline: none;
    }
}